  <div id="visitor-email">
    <%= form_for visitor do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br />

      <%= f.label :email %>
      <%= f.text_field :email %><br />

      <%= f.label :phone %>
      <%= f.text_field :phone %><br />

      <%= fields_for :visitor_email, visitor.visitor_email do |email_field| %>
        <%= email_field.label :body %>
        <%= email_field.text_area :body %>
      <% end %>

      <%= f.submit %>
    <% end %>
  </div>
